.auth_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: #000;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #f3f3f3;
    cursor: pointer;
}

.auth_btn:hover {
    background: #838383;
    transition: 0.25s;
}

.auth_btn:disabled {
    background: #d5d5d5;
}

.spinner {
    animation: spin 5s linear 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
