.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background: #ffffff;
    border-top: 1px solid #e6e6e6;
}

.log_in {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    max-width: 347px;
}

.log_in h4 {
    font-weight: 400;
    font-size: 16px;
    color: #838383;
}

.log_in a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-left: 3px;
}
