.auth_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 153px);
    background-color: #f3f3f3;
}

.auth_form {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    width: 400px;
    height: 317px;
    padding: 30px;
}

.register_form {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    width: 400px;
    height: 424px;
    padding: 30px;
}

.auth_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 25px;
}

.svg_icons {
    position: relative;
}

.svg_icon_1 {
    position: absolute;
    top: 50%;
    left: 36px;
    transform: translate(-50%, -50%);
}

.svg_icon_2 {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.auth_form_error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: #f00000;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 480px) {
    .auth_page {
        background-color: #fff;
    }

    .auth_form {
        width: 374px;
        height: 100%;
        border: none;
    }

    .register_form {
        width: 374px;
        height: 100%;
        border: none;
    }
}

@media (max-width: 370px) {
    .auth_form_error {
        height: 50px;
        text-align: center;
    }
}

@media (max-height: 580px) {
    .auth_page {
        height: auto;
        background-color: #fff;
    }

    .auth_form {
        width: 374px;
        height: 100%;
        border: none;
        height: 424px;
    }

    .register_form {
        width: 374px;
        height: 100%;
        border: none;
    }
}
