.users_page {
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
}

.contaiter {
    height: calc(100vh - 180px);
    width: 810px;
    margin: 50px 10px 50px 20px;
}

.contaiter h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 29px;
}

.users_list {
    height: calc(100% - 100px);
    scroll-snap-type: x proximity;
    overflow-y: auto;
    overflow-x: hidden;
}

.users_list::-webkit-scrollbar {
    border-radius: 5px;
    background-color: #f3f3f3;
    width: 10px;
}

.users_list::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 5px;
}

.user_item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 70px;
    border-top: 1px solid #e6e6e6;
}

.user_item:last-child {
    border-bottom: 1px solid #e6e6e6;
}

.user_item_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background: #f3f3f3;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 400;
    font-size: 18px;
}

.user_name {
    position: absolute;
    left: 70px;
    width: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_email {
    position: absolute;
    right: 0;
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #838383;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 800px) {
    .contaiter {
        max-width: 800px;
    }
}

@media (max-width: 480px) {
    .user_item {
        height: 72px;
    }

    .user_name {
        top: 10px;
        max-width: 480px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user_email {
        top: 36px;
        left: 70px;
    }
}

@media (max-height: 580px) {
    .users_page {
        height: 500px;
    }

    .contaiter {
        height: 400px;
    }
}
