.user_page {
    display: block;
}

.profile_background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: #f3f3f3;
    border-bottom: 1px solid #e6e6e6;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile_image {
    cursor: pointer;
    display: none;
}

.profile_background:hover .profile_image {
    display: flex;
}

.input_file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 7px 22px;
    width: 195px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    cursor: pointer;
}

.input_file:hover {
    background: #f3f3f3;
    transition: 0.25s;
}

.contaiter {
    height: max-content;
    margin: auto;
    max-width: 860px;
    margin-top: 85px;
    margin-bottom: 85px;
    padding: 0 30px;
}

.user_img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 230px;
    width: 100px;
    height: 100px;
    background: #f3f3f3;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.user_logo {
    font-weight: 400;
    font-size: 36px;
}

.guest_logo {
    font-weight: 400;
    font-size: 36px;
}

.input_icon {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.user_img:hover .user_logo {
    display: none;
}

.user_img:hover .input_icon {
    display: flex;
    background: #000;
}

.user_info {
    display: flex;
    justify-content: space-between;
}

.change_info_btn {
    height: 40px;
    background: #ffffff;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    padding: 7px 22px;
    cursor: pointer;
}

.change_info_btn:hover {
    background: #f3f3f3;
    transition: 0.25s;
}

.change_info_btn a {
    margin-left: 35px;
}

.user_info_btn_icon {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(0, -50%);
}

.user_name {
    width: calc(100vw - 260px);
    height: 42px;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_email {
    max-width: 600px;
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #838383;
    margin-top: 10px;
}

.user_description {
    max-width: 600px;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 60px;
    white-space: pre-line;
    word-wrap: break-word;
}

@media (max-width: 480px) {
    .user_info {
        display: block;
    }

    .user_name {
        width: 100%;
    }

    .user_email {
        margin-bottom: 10px;
    }
}

@media (min-width: 800px) {
    .user_name {
        width: 550px;
    }
}
